html {
    height: 100%;
    /* For browsers that do not support gradient s
     background: black linear-gradient(black, #ada1a1);*/
}

body{
    height: 100%;
    margin: 0;
    color: white;
    background-size: cover;
    background: linear-gradient(black, #595555) no-repeat fixed center;
}